header.cv-header{
    --header-cv-bcg: rgb(0, 46, 59);

    background-color: var(--header-cv-bcg);

    width: 100%;
    height: 100%;
}

section.cv-container[data-header-layout-position="top"] header.cv-header{

}

section.cv-container[data-header-layout-position="left"] header.cv-header{

}

section.cv-container[data-header-layout-position="right"] header.cv-header{

}