div.edit-form-full-container{
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    row-gap: 2.5rem;

    height: 100%;
    width: 38rem;

    overflow-y: auto;

    scrollbar-gutter: stable;
    /* direction: rtl; */
    
}


form.cv-editor-form{
    flex-shrink: 0;

    --form-padding-height: 2rem;

    --form-padding-left-right: 1rem;

    width: 100%;

    padding: var(--form-padding-height) var(--form-padding-left-right);

    display: flex;

    background-color: grey;

    border-radius: 1rem;

    overflow: hidden;

    /* transition: height .4s ease-in-out; */
}

/* form.cv-editor-form[data-open="closed"] fieldset > *:not(.form-title-container){
    display: none;
} */






form.cv-editor-form fieldset{
    --animation-move-timing: .4s;

    --fieldset-row-gap: .5rem;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    row-gap: var(--fieldset-row-gap);
}

form.cv-editor-form fieldset legend{
    font-size: large;

    font-weight: bold;
}

form.cv-editor-form fieldset div.cv-editor-label-input-container{
    width: 100%;
}

form.cv-editor-form fieldset input,
form.cv-editor-form fieldset textarea{
    color: black;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    /* height: 3rem; */
    padding: .5rem 0;

    resize: vertical;

    border: .2rem solid rgb(77, 77, 77);

    padding-left: .5rem;
}


form.cv-editor-form fieldset textarea{
    scrollbar-gutter: stable;
    height: auto;
    min-height: 10rem;
    max-height: 30rem;
}





form.cv-editor-form fieldset input:focus-visible,
form.cv-editor-form fieldset textarea:focus-visible{
    border-color: rgb(32, 166, 255);
}