div.form-title-container{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 1;
}

div.form-title-container div.collapsable-legend-arrow{
    flex-shrink: 0;

    /* box-sizing: content-box; */

    width: 3.5rem;
    aspect-ratio: 1/1;

    object-fit: contain;

    overflow: hidden;

    cursor: pointer;

    border-radius: .6rem;

    transform-origin: center;

    /* transition: transform .2s ease-in-out; */

    /* --animation-move-timing: .2s; */
}

div.form-title-container div.collapsable-legend-arrow:hover{
    outline: .2rem solid white;
}

form[data-open="open"] div.form-title-container div.collapsable-legend-arrow{
    transform: rotate(0deg);
}

form[data-open="closed"] div.form-title-container div.collapsable-legend-arrow{
    transform: rotate(180deg);
}

form[data-open="opening"] div.form-title-container div.collapsable-legend-arrow img{
    animation: opening var(--animation-move-timing) ease-in-out forwards;
}

form[data-open="closing"] div.form-title-container div.collapsable-legend-arrow img{
    animation: closing var(--animation-move-timing) ease-in-out forwards;
}

div.form-title-container div.collapsable-legend-arrow img{
    width: 100%;
    height: 100%;

    object-fit: contain;
}

@keyframes closing {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(180deg);
    }
}

@keyframes opening {
    from {
        transform: rotate(180deg);
    } to {
        transform: rotate(0deg);
    }
    
}