button.delete-btn{
    flex-shrink: 0;

    display: flex;
    align-items: center;

    background-color: transparent;
}


button.delete-btn svg{
    flex-shrink: 0;

    width: 3.8rem;
    aspect-ratio: 1;

    object-fit: cover;

    overflow: hidden;

    border-radius: .6rem;

    padding: .5rem;
}

button.delete-btn svg:hover{
    cursor: pointer;

    outline: .2rem solid white;

    fill: red;
}