:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-size: 62.5%;

  --primary-button-background-colour: #007bff;
  --primary-button-background-colour-hover: #0056b3;

  --cv-header-background-colour: #002E3B;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

  color: inherit;
  font-size: inherit;
  font-family: inherit;

  box-sizing: border-box;
}

html,
body {
  font-size: 1.6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: black;
  color: white;

  width: 100dvw;
  height: 100dvh;
  min-width: fit-content;
  min-height: fit-content;

  /* overflow: hidden; */

  /* scrollbar-gutter: stable both-edges; */
}

button{
  background-color: inherit;
}