section.cv-container{
    flex: 1;

    aspect-ratio: 8.5 / 11;

    max-width: 70rem;

    max-height: 100%;

    display: grid;
    

    background-color: white;

    box-shadow: 0 0 2rem black;

    align-self: flex-start;
}

section.cv-container[data-header-layout-position="top"]{
    grid-template-areas: "header"
                         "main";

    grid-template-rows: 16rem 
                        1fr;

    grid-template-columns: 1fr;
}

section.cv-container[data-header-layout-position="left"]{
    grid-template-areas: "header main";

    grid-template-rows: 1fr;

    grid-template-columns: 25rem 1fr;
}

section.cv-container[data-header-layout-position="right"]{
    grid-template-areas: "main header";

    grid-template-rows: 1fr;

    grid-template-columns: 1fr 25rem;
}