main.cv-main{
    grid-area: main;

    color: black;

    width: 100%;
    height: 100%;

}

section.cv-container[data-header-layout-position="top"] main.cv-main{

}

section.cv-container[data-header-layout-position="left"] main.cv-main{
    
}

section.cv-container[data-header-layout-position="right"] main.cv-main{
    
}